.popup__line {
    width: 358px;
    margin: 9px auto 30px;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
}

@media screen and (max-width: 580px) {
    .popup__line {
        width: 238px;
    }
}