.popup__field {
    margin: 0 0 13px;
    padding: 0;
    border: 0;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 35px;
}